# Copy this file to .env and fill out each variable
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox

# Stanalone uri - mongodb://mongodb0.example.com:27017
# Standard Connection String Format - mongodb://[username:password@]host1[:port1][,...hostN[:portN]][/[defaultauthdb][?options]]
MONGODB_URI=
MONGO_DB_NAME=
MONGO_COLL_NAME=

SESSION_SECRET=